body {
  margin: 0;
  padding: 0;
  background: #222;
  font-family: Arial, sans-serif;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#gameCanvas {
  background: #333;
  border: 2px solid #fff;

  width: 90vw;        /* s’adapte à l’écran */
  height: 90vw;       /* garde un carré */
  max-width: 500px;   /* limite sur grands écrans */
  max-height: 500px;

  display: block;
  margin-bottom: 10px;
}

#score {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#gameCanvas {
  touch-action: none;
}

#controls {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#controls div {
  display: flex;
  gap: 10px;
}

#controls button {
  font-size: 24px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #444;
  color: white;
}

#controls button:active {
  background-color: #777;
}
